<!-- <app-dashboard-sidemenu></app-dashboard-sidemenu> -->

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

    <app-navbar-style-one></app-navbar-style-one>

    <div class="m-lg-5 m-md-2 m-sm-2 m-2">
        <!-- Breadcrumb Area -->
    <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
        <h1>{{Content.title}}</h1>
        <ol class="breadcrumb">
            <li class="item"><a routerLink="/dashboard">Home</a></li>
            <li class="item">{{Content.subTitle}}</li>
        </ol>
    </div>
    <!-- End Breadcrumb Area -->

    <!-- Start -->
    <ng-container *ngIf="customerBookingList.length > 0">
        <app-stats [counter]="customerBookingList[0]"></app-stats>
    </ng-container>
    <!-- End -->

    <p-table #dt [value]="customerBookingList" dataKey="id" [rowHover]="true" [rows]="50"
            responsiveLayout="scroll" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
            [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [filterDelay]="0" [globalFilterFields]="['downLineName', 'yourId', 'customerName', 'contactNumber', 'emailAddress', 'bookingQuantity', 'status', 'transactionalID']">
            <ng-template pTemplate="caption">
                <span class="p-input-icon-left d-flex align-items-center">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Global Search" [(ngModel)]="filterval" />
                            <p-calendar appendTo="body" class="ml-2" dateFormat="dd-mm-yy" placeholder="Booking Date"
                                 [(ngModel)]="dateFilterVal"
                                (onSelect)="searchFilter($event)">
                            </p-calendar>
                            <p-button type="button" class="ml-2" (click)="reset(dt)" icon="bx bx-reset" pTooltip="Reset" tooltipPosition="bottom"></p-button>
                            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mx-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
                </span>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>S. No.</th>
                    <th>Order Id</th>
                    <th style="min-width: 150px;">Booking Date</th>
                    <th>Payment Mode</th>
                    <th *ngIf="downLine">Downline Name</th>
                    <th>IR Id</th>
                    <th>Name</th>
                    <th>Mobile No.</th>
                    <th>Email Address</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Order Number</th>
                    <!-- <th>Receipt</th> -->
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer let-i="rowIndex">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{customer?.customerBookingId}}</td>
                    <td>{{customer?.bookingDate | date}}</td>
                    <td>{{customer?.payMode}}</td>
                    <td *ngIf="downLine">{{customer?.downLineName}}</td>
                    <td>{{customer?.yourId}}</td>
                    <td>{{customer?.customerName}}</td>
                    <td>{{customer?.contactNumber}}</td>
                    <td>{{customer?.emailAddress}}</td>
                    <td>{{customer?.bookingQuantity}}</td>
                    <td>{{customer?.status}}</td>
                    <td>{{customer?.transactionalID}}</td>
                    <!-- <td><a (click)="getReceipt(customer)" style="text-decoration: underline; font-size: 12px;">get Receipt</a></td> -->
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No users found.</td>
                </tr>
            </ng-template>
    </p-table>
    </div>



    <div class="flex-grow-1"></div>
    
    <app-copyrights></app-copyrights>

</div>
<!-- End Main Content Wrapper Area -->