.footer_section {
    padding: 0 60px 0 60px;
    background: #081648;
    position: fixed;
    bottom: 0;
    width: 100%;

    .top_strip {
        display: flex;
        align-items: center;
        justify-content: end;

        .login_btn {
            color: white;
            text-decoration: underline;
            // font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            list-style: none;
            font-size: 16px;
            cursor: pointer;
            margin: 0;
            padding: 0 15px;
            &:last-child {
                padding-right: 0;
            }
        }
    }
}

@media (max-width: 525px) {
    .footer_section{
        padding: 0 15px;
        .top_strip {
            justify-content: space-between;
    
            .login_btn {
                font-size: 11px;
                padding: 0;
            }
        }
    }
}

:host ::ng-deep {
    .p-dialog .p-dialog-content {
        padding: 0 15px 0 0;
    }
}