
.main-content {
    padding: 0 !important;
  }
  
  .parallax {
    // background: url('../../../../assets/img/loginBg.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // margin-top: 81px;
  
    .overlay {
      position: relative;
  
      padding: {
        // top: 20px;
        // bottom: 20px;
      }
  
      background-color: white;
      ;
    }
  
    .custom-container {
      min-height: 84.5vh;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .modal-content {
        // background-color: rgba($color: #000000, $alpha: .05);
        box-shadow: 1px 5px 24px 0 rgb(68 102 242 / 20%);
        border-radius: 5px;
        background-color: var(--whiteColor);
        border: none;
        border-radius: 0;
        // box-shadow: 5px 5px var(--mainColor);
        // border: 1px solid var(--mainColor);
        padding: 30px;
        max-width: 768px;
        position: relative;
        // backdrop-filter: blur(3px);
  
        .nav-tabs {
          padding-left: 0;
          margin-bottom: 0;
          list-style-type: none;
          border-bottom: 1px solid #f0f0f0;
          display: flex !important;
  
          .nav-item {
            margin: {
              bottom: 0;
              right: 30px;
            }
  
            .nav-link {
              padding: 0 0 8px;
              border: none;
              color: #0A1847;
              transition: var(--transition);
              position: relative;
  
              font: {
                size: 18px;
                weight: 600;
              }
  
              &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 100%;
                height: 3px;
                transition: var(--transition);
                transform: scaleX(1);
                background-color: var(--mainColor);
              }
  
              &:hover,
              &.active {
                color: var(--mainColor);
  
                background: transparent !important;
  
                &::before {
                  transform: scaleX(1);
                }
              }
            }
          }
        }
  
        .tab-content {
          margin-top: 30px;
  
          .vesax-login {
            .login-with-account {
              margin-bottom: 30px;
  
              span {
                display: block;
                color: #666666;
                font-weight: 500;
              }
  
              ul {
                padding-left: 0;
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
  
                margin: {
                  bottom: 0;
                  top: 15px;
                  left: -7px;
                  right: -7px;
                }
  
                li {
                  flex: 0 0 50%;
                  max-width: 50%;
  
                  padding: {
                    left: 7px;
                    right: 7px;
                  }
  
                  a {
                    display: block;
                    text-align: center;
                    background-color: var(--blackColor);
                    color: var(--whiteColor);
                    border-radius: 5px;
                    font-weight: 600;
  
                    padding: {
                      top: 8px;
                      bottom: 11px;
                      left: 25px;
                      right: 25px;
                    }
  
                    i {
                      font-size: 22px;
                      line-height: 1;
                      position: relative;
                      top: 4px;
                      margin-right: 2px;
                    }
  
                    &.facebook {
                      background-color: #4267b2;
                      color: var(--whiteColor);
  
                      &:hover {
                        background-color: #6d8bc8;
                        color: var(--whiteColor);
                      }
                    }
  
                    &.twitter {
                      background-color: #1da1f2;
                      color: var(--whiteColor);
  
                      &:hover {
                        background-color: #0982cc;
                        color: var(--whiteColor);
                      }
                    }
                  }
                }
              }
            }
  
            .sub-title {
              display: block;
              color: #666666;
              font-weight: 500;
              margin-bottom: 20px;
              z-index: 1;
              position: relative;
  
              &::before {
                content: "";
                position: absolute;
                right: 0;
                top: 11px;
                height: 1px;
                width: 100%;
                z-index: -1;
                background: #f0f0f0;
              }
  
              span {
                background-color: var(--whiteColor);
                padding-right: 15px;
              }
            }
  
            form {
                .form-group {
                    margin-bottom: 15px;

                    .form-control {
                        border: 1px solid #d5d5d5 !important;
                        border-radius: 5px;
                        background-color: var(--whiteColor) !important;
                        padding-top: 9px;
                    }
                }
                button {
                    display: block;
                    background-color: var(--mainColor);
                    color: var(--whiteColor);
                    border: none;
                    font-weight: 600;
                    display: block;
                    width: 100%;
                    border-radius: 5px;
                    padding: 14px 30px 13px;
                    transition: var(--transition);

                    &:hover {
                        background-color: var(--blackColor);
                        color: var(--whiteColor);
                    }
                }
            }
  
            .dont-account {
              display: block;
              color: #666666;
              margin-top: 20px;
  
              a {
                font-weight: 500;
                color: var(--mainColor);
  
                &:hover {
                  color: var(--blackColor);
                }
              }
            }
          }
  
          .vesax-register {
            // .form {
            //   overflow-x: hidden;
            //   max-height: 540px;
            // }
  
            .register-with-account {
              margin-bottom: 30px;
  
              span {
                display: block;
                color: #666666;
                font-weight: 500;
              }
  
              ul {
                padding-left: 0;
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
  
                margin: {
                  bottom: 0;
                  top: 15px;
                  left: -7px;
                  right: -7px;
                }
  
                li {
                  flex: 0 0 50%;
                  max-width: 50%;
  
                  padding: {
                    left: 7px;
                    right: 7px;
                  }
  
                  a {
                    display: block;
                    text-align: center;
                    background-color: var(--blackColor);
                    color: var(--whiteColor);
                    border-radius: 5px;
                    font-weight: 600;
  
                    padding: {
                      top: 8px;
                      bottom: 11px;
                      left: 25px;
                      right: 25px;
                    }
  
                    i {
                      font-size: 22px;
                      line-height: 1;
                      position: relative;
                      top: 4px;
                      margin-right: 2px;
                    }
  
                    &.facebook {
                      background-color: #4267b2;
                      color: var(--whiteColor);
  
                      &:hover {
                        background-color: #6d8bc8;
                        color: var(--whiteColor);
                      }
                    }
  
                    &.twitter {
                      background-color: #1da1f2;
                      color: var(--whiteColor);
  
                      &:hover {
                        background-color: #0982cc;
                        color: var(--whiteColor);
                      }
                    }
                  }
                }
              }
            }
  
            .sub-title {
              display: block;
              color: #666666;
              font-weight: 500;
              margin-bottom: 20px;
              z-index: 1;
              position: relative;
  
              &::before {
                content: "";
                position: absolute;
                right: 0;
                top: 11px;
                height: 1px;
                width: 100%;
                z-index: -1;
                background: #f0f0f0;
              }
  
              span {
                background-color: var(--whiteColor);
                padding-right: 15px;
              }
            }
  
  
            .already-account {
              display: block;
              color: #666666;
              margin-top: 20px;
  
              a {
                font-weight: 500;
                color: var(--mainColor);
  
                &:hover {
                  color: var(--blackColor);
                }
              }
            }
          }
        }
      }
    }
  }
  
  
  select {
    &:focus {
      box-shadow: 0 0 0 0.2rem #0ec6c647 !important;
    }
  }
  
  .padding {
    padding-inline: 10px;
  }
  
  :host ::ng-deep {
    .p-dropdown {
      margin-top: 5px;
      border: none;
      background-color: #f9f9f9;
    }
  
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
      padding: .5rem;
    }
  }
  
  
  
  
  :host ::ng-deep {
    .p-dropdown .p-dropdown-trigger {
      color: #000;
      font-weight: bold;
      width: 1.357rem;
  
      .pi {
        font-size: .6rem;
        font-weight: bolder;
        color: #000;
      }
    }
  }
  
  :host ::ng-deep {
    @media (min-width: 642px) {
      .p-scrollpanel {
        &.custombar2 {
          width: 100%;
          height: 300px;
  
          .p-scrollpanel-wrapper {
            border-right: 10px solid rgba(128, 128, 128, 0.221);
            // border-radius: 5px;
  
            // background-color: red;
          }
  
          .p-scrollpanel-bar {
            background-color: var(--mainColor);
            opacity: 1;
            width: 10px;
            border-radius: 0;
            transition: background-color .2s;
  
            &:hover {
              background-color: var(--btn-hover);
            }
          }
        }
      }
    }
  
    @media (max-width: 642px) {
      .parallax {
        .overlay {
  
          padding: 20px 10px;
        }
      }
  
      .p-scrollpanel {
        &.custombar2 {
          width: 100%;
          height: 100%;
  
        }
      }
    }
  }
  .form-control {
    border: 1px solid #d5d5d5 !important;
    border-radius: 5px;
    background-color: var(--whiteColor) !important;
    // padding-top: 9px;
    height: 35px;
    padding: 5px 10px;
    font-size: 13px;
    box-shadow: none!important;
}
.alert.alert-danger {
    width: 100%;
    // margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-bottom: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
  }

  label {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  button {
    background-color: var(--mainColor);
    color: var(--whiteColor);
    border: none;
    font-weight: 600;
    display: block;
    width: fit-content;
    border-radius: 5px;
    padding: 10px 30px 10px;
    transition: var(--transition);
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select:focus {
  box-shadow: none!important;
}

th, td {
  white-space: nowrap;
}
